{% block extra_css %}
<style>
    #continue_exam_container {
        margin-top: 100px;
    }
    .scenario {
        background-color: #f8f9fa;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 15px;
    }
</style>
{% endblock %}

<div id="continue_exam_container">
    <div>
        <a href="{% url 'show_user_exams' %}">
            <button class="btn btn-primary my-4">Go Back</button>
        </a>
    </div>

    <form method="POST" hx-post="{% url 'submit_quiz' %}" 
        hx-push-url="true" hx-swap="outerHTML"
        hx-target="#continue_exam_container" 
        hx-vals='{"generated_quiz_id": "{{ quiz.id }}"}'>

        <div style="background-color: #e3f2fd; border: 2px solid #569ade; padding: 15px; border-radius: 8px; margin-bottom: 15px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);">
            <h4 style="color: #004085; font-weight: bold; margin-bottom: 15px;">{{ quiz.title }}</h4>
            <p style="margin: 5px 0;"><strong style="color: #004085;">Subject:</strong> {{ quiz.subject.name }}</p>
            <p style="margin: 5px 0;"><strong style="color: #004085;">Exam Duration:</strong> <span style="color: #28a745;">{{ quiz.duration.get_time_duration_display }}</span></p>
        </div>
        

        {% csrf_token %}
        <input type="hidden" name="generated_quiz_id" value="{{ quiz.id }}">

        {% for question in questions %}
            {% if question.scenarios %}
                <div  style="background-color: #f0f0f0; padding: 10px; margin-bottom: 10px;" class="scenario">
                    <strong>Scenario:</strong>
                    {% for scenario in question.scenarios %}
                        {{ scenario.description }}
                        {% if scenario.image_url %}
                            <img src="{{ scenario.image_url }}" alt="Scenario Image" class="img-fluid mb-2">
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
                <div class="card-body">
                    {% if question.scenarios %} 
                    <p><em>Refer to the scenario above.</em></p> 
                    {% endif %}
                    <p><strong>{{ forloop.counter }}.</strong> 
                        <strong>{{ question.text }}</strong>
                    </p>

                    {% if question.image_url %}
                        <img src="{{ question.image_url }}" alt="Question Image" class="img-fluid mb-2">
                    {% endif %}

                    <input type="hidden" name="question_ids[]" value="{{ question.id }}">

                    <div class="form-check">
                        <input type="radio" name="answers_{{ question.id }}" id="option_a_{{ question.id }}" 
                            class="form-check-input" value="A" required>
                        <label for="option_a_{{ question.id }}" class="form-check-label">
                            A. {{ question.choices.0.text }}
                        </label>
                    </div>

                    <div class="form-check">
                        <input type="radio" name="answers_{{ question.id }}" id="option_b_{{ question.id }}" 
                            class="form-check-input" value="B" required>
                        <label for="option_b_{{ question.id }}" class="form-check-label">
                            B. {{ question.choices.1.text }}
                        </label>
                    </div>

                    <div class="form-check">
                        <input type="radio" name="answers_{{ question.id }}" id="option_c_{{ question.id }}" 
                            class="form-check-input" value="C" required>
                        <label for="option_c_{{ question.id }}" class="form-check-label">
                            C. {{ question.choices.2.text }}
                        </label>
                    </div>

                    <div class="form-check">
                        <input type="radio" name="answers_{{ question.id }}" id="option_d_{{ question.id }}" 
                            class="form-check-input" value="D" required>
                        <label for="option_d_{{ question.id }}" class="form-check-label">
                            D. {{ question.choices.3.text }}
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>

<br><br><br>
