


<div id="quizResultContainer" class="card shadow-sm border-0 pt-4 mt-4">
    <div class="card-header bg-primary text-white text-center">
        <h5 class="mb-0">Quiz Result: {{ quiz }}</h5>
    </div>
    <div class="card-body text-center">
        {% if summary %}
            <h4 class="fw-bold">
                Score: {{ summary.score }} / {{ summary.num_items }} 
                <span class="text-muted">({{ percentage }}%)</span>
            </h4>

            {% if percentage >= 75 %}
                <p class="text-success fw-bold">🎉 Great job! You passed!</p>
            {% elif percentage >= 50 %}
                <p class="text-warning fw-bold">👍 Good effort! Keep practicing.</p>
            {% else %}
                <p class="text-danger fw-bold">❌ Don't give up! Try again.</p>
            {% endif %}
            
            <button class = "btn btn-success" hx-get="{% url 'view_feedback' %}?summary_id={{ summary_id }}" hx-push-url ="true" hx-target="#takeexam" hx-swap="outerHTML">View Feedback</button>
        {% else %}
            <p class="text-muted">Unfinished</p>
            <button class="btn btn-primary" >Continue Exam</button>
        {% endif %}
    </div>
</div>


