
<div hx-boost="true">
    <a href="{% url 'show_user_exams' %}"><button class="btn btn-primary my-4">Go Back</button></a>
</div>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% else %} 
    <h3>{{ summary.generated_quiz.title }}</h3>
    {{summary.generated_quiz.subject}}
    <p>Score: {{ summary.score }} / {{ summary.num_items }}</p>

    {% for item in feedback_data %}
        <div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
            <p><strong>{{ item.question.question_text }}</strong></p>

            {% for letter, option in item.options.items %}
                {% if item.user_answer == letter and not item.is_correct %}
                    <p style="color: red;">{{ letter }}. {{ option }} (Your Answer)</p>
                {% elif item.correct_answer == letter %}
                    <p style="color: green;">{{ letter }}. {{ option }} (Correct Answer)</p>
                {% elif item.user_answer == letter %}
                    <p>{{ letter }}. {{ option }} (Your Answer)</p>
                {% else %}
                    <p>{{ letter }}. {{ option }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endif %} 







<br><br>