{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="register" class="d-flex justify-content-center align-items-center vh-100">
    <form id="formRegister" action="{% url 'my_login' %}" method="POST" class="p-4 border rounded shadow bg-white">
        <h3>Login</h3>
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
            {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors.0 }}</div>  <!-- Display email errors -->
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
            {% if form.password.errors %}
            <div class="text-danger">{{ form.password.errors.0 }}</div>  <!-- Display password errors -->
            {% endif %}
        </div>

        <button type="submit" class="btn btn-success w-100">Register</button>

        <p>Not a member? <a href="{% url 'my_register' %}">Sign up here</a></p>
    </form>
</div>

{% endblock %}